.post-it-lista
  border: 1px solid #ccc
  border-radius: 5px
  padding: 10px
  margin: 10px
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
  width: 200px

.tarefa
  text-align: left

  &.concluida
    text-decoration: line-through
